@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Teko:wght@300..700&display=swap');

*{
    font-family:"Teko", sans-serif; 
}


.login {
    width: 90px;
    height: 90px;
    position: absolute;
    right: 40px;
    top: 0;
}

h1{
    font-size: 170px;
    margin: 24px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(-45deg, rgb(238, 115, 74), rgb(240, 240, 64), rgb(71, 237, 71), rgb(88, 88, 240), rgb(174, 81, 240), rgb(244, 123, 244));
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: gradient 25s ease infinite; 
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}


img {
    margin: 20px;
    height: 230px;
    width: 230px;
}

a {
    text-decoration: none;
    color: inherit;
}



a:hover {
    border: none;
    outline: none;

}

.languages {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.language-image {
    transition: transform 0.4s ease; 
}

.language-image:hover {
    transform: scale(1.2); 
}
